.Game {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: white;
  padding: 10px;
}
strong {
  font-weight: 500;
}
.Game-large-text {
  font-size: 1.2rem;
  font-weight: 500;
}
.Game * {
  margin: 0;
}
.Game-title {
  font-family: "Supermercado One", "Open Sans", sans-serif;
  margin: 15px 0px 7px 0px;
}
.Game-instructions {
  margin-bottom: 60px;
  text-align: center;
}
.Game-status {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 600px) {
  .Game-status-left, .Game-status-right {
    font-size: 0.7rem;
  }
}
.Game-status-left,
.Game-status-right {
  display: flex;
  flex-flow: row-nowrap;
  align-items: center;
  font-weight: 500;
}
.Game-number {
  margin: 0 0 0 10px;
  color: #777;
  font-weight: 400;
}
.Game-fretboard {
  margin: 35px 0;
  width: 100%;
}
.Game-prompt-note {
  font-size: 3rem;
}
.Game-settings {
  padding: 10px;
}
.Game-settings > p:first-of-type {
  margin: 0 auto 15px auto;
  border-bottom: 2px solid var(--border-color);
  width: min-content;
}

.Game-settings > div > p {
  /* color: var(--text-color-light-gray); */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 30px;
}
.Game-settings > div > p > :first-child {
  margin-right: 5px;
}
.Game-settings > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.Game-settings > div > div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.Game-settings > div > div > * + * {
  margin-left: 10px;
}
.Game-ended-stats > p + p {
  margin-top: 10px;
}
.Game-ended-stats > p {
  text-align: center;
}
