#fretboard {
  display: block;

  /* The margin and max height below are required when
  svg is flipped to vertical on small screens */
  margin: auto;
  max-height: 700px;
}
#fretboard * {
  pointer-events: none;
}

#fret-areas > path.active {
  pointer-events: all;
  cursor: pointer;
}
/* #fret-areas > path.enabled:hover {
  fill: #999;
  fill-opacity: 0.3;
} */
#fret-areas > path.disabled {
  fill-opacity: 0.85;
  fill: #777;
}

#fingerings > path.empty {
  pointer-events: all;
  cursor: pointer;
}
#fingerings > path.empty:hover,
#fingerings > path.disabled,
#fingerings > path.red,
#fingerings > path.green {
  fill-opacity: 0.3;
}
#fingerings > path.empty:hover {
  fill: #999;
}
#fingerings > path.disabled {
  fill: black;
}
#fingerings > path.red {
  fill: red;
}
#fingerings > path.green {
  fill: green;
}

/* #notes > text {
  pointer-events: none;
  user-select: none;
} */
